* {
    box-sizing: border-box;
}

.mr-2 {
    margin-right: 2%;
}


.mr-10 {
    margin-right: 10%;
}

.ml-2 {
    margin-left: 4%;
}

.bg-cardbody {
    background-color: #efe2c4;
}

main {
    background-image: url("https://cdn.discordapp.com/attachments/1185126704809775146/1185129780287393832/4352003.jpg?ex=658e7d1e&is=657c081e&hm=b2418300362488200afac3ceebe696fcc2eb48d5b785959eaafb95c8805336c9&");
    background-repeat: repeat-y;
    background-size: auto;
}


.bb {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

hr {
    border: 2px solid rgb(0, 0, 0);
    opacity: 100%;
}

.w-30 {
    width: 30%;
}